:root {
  --primary-color: #212121;
  --secondary-color: #e1e1e1;
}

@font-face {
  font-family: 'AvanteBsNrLight';
  src: url('AvanteBsNrLight.ttf')  format('truetype'); /* Legacy iOS */
}

html {
  font-family: 'AvanteBsNrLight', sans-serif;
  font-size: 16px;
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
